.blackBackground{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.7);
}

.modal{
    position: fixed;
    top: 3%;
    bottom: 3%;
    left: 3%;
    right: 3%;
    background-color: white;
}
