.project {
    overflow: auto;
    height: 100%;
}

.project.noScroll{
    overflow: auto;          /* or scroll */

    /* Firefox */
    scrollbar-width: none;   /* hides scrollbar, keeps scroll */

    /* IE & old Edge */
    -ms-overflow-style: none;
}
/* WebKit browsers (Chrome, Safari, Edge, Opera) */
.project.noScroll::-webkit-scrollbar {
    display: none;
}


.project .project-info {
    display: flex;
    gap: 1.5rem;
    cursor: pointer;
    transition: all .5s ease-in-out ;
    padding-top: 1.5rem !important;
}
.project .project-info .left {
    text-align: right;
    min-width: 250px;
}

.project.focus .project-info .right .project-image {
    min-width: 60vw;
    max-height: 400px;
}

.project.focus .project-info .right .project-image {
    height: unset;
    max-height: unset;

}
