---
import BaseLayout from "../layouts/BaseLayout.astro";
import {projects} from "../data/Projects";
import {categories} from "../data/categories";
import Category from "../components/Category.astro";
const pageTitle = "Portfolio LB";

const featuredProjects = [...projects]
  .sort((a, b) => b.year - a.year)
  .slice(0, 3);

---

<BaseLayout pageTitle={pageTitle}>
    <div class="grid center">
        {categories.map(cat => <Category category={cat} />)}
    </div>
</BaseLayout>

<style scope>
    .grid {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
        padding: 1rem 0;
    }
</style>
