---
import Navigation from "./Navigation.astro";
import {categories} from "../data/categories";

---


<header class="header">
    <Navigation/>
    <div class="mainNav">
      {categories.map(item =>
              <a class={item.slug === Astro.params.category ? "active" : ""} href=`/work/${item.slug}`>
                {item.label}
              </a>
      )}
    </div>
    <div class="search">
        &#128269; Search
    </div>
</header>


<style scoped>
    .header {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: end;
        padding: 0.6rem;
        position: sticky;
        top: 0;
        background: white;
    }

    .header .mainNav {
        display: flex;
        gap: 1rem;
    }

    .header .mainNav a {
        color: #6b6b6b;
        font-size: 1rem;
        text-decoration: none;
    }

    .header .mainNav a:hover, .header .mainNav a:active {
        color: black;
    }
    .header .mainNav a.active {
        text-decoration: underline;
    }


    .header .nav {
        justify-self: start;
    }

    .header .search {
        color: #6b6b6b;
        justify-self: end;
    }
</style>
