---
import {categories} from "../data/categories";
console.log(Astro.params.category)
---
<nav class="nav">
    <div id="nav-button" class="logo-container">
        <div class="logo">LB</div>
        <div class="menu-icon">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>


    <ul class="menu">
        <li><a class={!Astro.params.category ? "active" : ""} href="/">Home</a></li>
      {categories.map(item =>
              <li>
                  <a class={item.slug === Astro.params.category ? "active" : ""} href=`/work/${item.slug}`>
                    {item.label}
                  </a>
              </li>
      )}
    </ul>
</nav>

<style scoped>
    .nav {
        cursor: pointer;
        margin-left: 10px;
    }

    .nav .logo-container {
        position: relative;
        height: 35px;
        width: 35px;
    }

    .nav .logo-container .logo {
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: 1px;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    .nav .logo-container:hover .logo, .nav .logo-container.open .logo {
        transform: scale(0);
        opacity: 0;
    }

    .nav .logo-container .menu-icon {
        position: absolute;
        top: 13px;
        left: 3px;
        display: flex;
        flex-direction: column;
        gap: 4px;
        transform: scale(0);
        opacity: 0;
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .nav .logo-container .menu-icon span {
        width: 20px;
        height: 2px;
        background: #000;
        border-radius: 2px;
        transform-origin: center;
    }

    .nav .logo-container:hover .menu-icon, .nav .logo-container.open .menu-icon {
        transform: scale(1);
        opacity: 1;
    }

    .nav .menu {
        position: absolute;
        padding: 10px;
        left: 0;
        list-style: none;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
    }

    .nav .menu li {
        margin: 0.25rem 0;
    }
    .nav .menu li a {
        text-decoration: none;
        color: #6b6b6b;
    }
    .nav .menu li a.active {
        text-decoration: underline;
    }

    /* Slide menu in from the left */
    .nav .logo-container.open + .menu {
        transform: translateX(0);
    }
</style>

<script>
  const navBtn = document.getElementById("nav-button");

  navBtn.addEventListener("click", () => {
    navBtn.classList.toggle("open");
  });
</script>
