---
import {Image} from "astro:assets";
import RandomImage from "../assets/random.png"
const project = Astro.props.project;
---


<section class="project center">
    <div class="left">
        <div class="projLogo"></div>
        <h3>{project.title}</h3>
        <div class="city">City</div>
    </div>
    <div class="right">
        <Image
          src={RandomImage}
          alt="Residential architecture category"
        />
    </div>
</section>

<style scoped>
    .project{
        display: flex;
        gap: 1.5rem;
        margin-bottom: 1.5rem;
    }
    .project .left {
        text-align: right;
        width: 250px;

    }
    .project .right {

    }
    .project .right img {
        height: 400px;
    }
</style>
